In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
df_Private_Sector=pd.read_csv("~/data_viz/Project_Employement/data/raw_data/private-sector-indicators-for-tunisia-1.csv")
df_Private_Sector.head()

,Country Name,Country ISO3,Year,Indicator Name,Indicator Code,Value
0,#country+name,#country+code,#date+year,#indicator+name,#indicator+code,#indicator+value+num
1,Tunisia,TUN,2018,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,17.7402233050591
2,Tunisia,TUN,2017,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,15.8276702722749
3,Tunisia,TUN,2016,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,14.9720852732425
4,Tunisia,TUN,2015,Trade in services (% of GDP),BG.GSR.NFSV.GD.ZS,14.7625942009062

In [13]:
df_Private_Sector_1=df_Private_Sector.drop(df_Private_Sector.index[0]).drop(columns=["Country Name","Country ISO3","Indicator Code"])
df_Private_Sector_1.head()

   Year                Indicator Name             Value
1  2018  Trade in services (% of GDP)  17.7402233050591
2  2017  Trade in services (% of GDP)  15.8276702722749
3  2016  Trade in services (% of GDP)  14.9720852732425
4  2015  Trade in services (% of GDP)  14.7625942009062
5  2014  Trade in services (% of GDP)  17.0767761634057

In [24]:
df_Private_Sector_1['Indicator Name'].unique()

array(['Trade in services (% of GDP)',
       'Insurance and financial services (% of service imports, BoP)',
       'Insurance and financial services (% of service exports, BoP)',
       'Domestic credit to private sector (% of GDP)',
       'Ease of doing business score (0 = lowest performance to 100 = best performance)',
       'Business extent of disclosure index (0=less disclosure to 10=more disclosure)',
       'Ease of doing business index (1=most business-friendly regulations)',
       'New business density (new registrations per 1,000 people ages 15-64)',
       'New businesses registered (number)',
       'Depth of credit information index (0=low to 8=high)',
       'Private credit bureau coverage (% of adults)',
       'Public credit registry coverage (% of adults)',
       'Average time to clear exports through customs (days)',
       'Power outages in firms in a typical month (number)',
       'Time required to get electricity (days)',
       'Cost to export, border compliance (US$)',
       'Cost to export, documentary compliance (US$)',
       'Time to export, border compliance (hours)',
       'Time to export, documentary compliance (hours)',
       'Firms using banks to finance working capital (% of firms)',
       'Firms using banks to finance investment (% of firms)',
       'Bribery incidence (% of firms experiencing at least one bribe payment request)',
       'Firms competing against unregistered firms (% of firms)',
       'Informal payments to public officials (% of firms)',
       'Losses due to theft and vandalism (% of annual sales of affected firms)',
       'Time required to obtain an operating license (days)',
       'Firms with female top manager (% of firms)',
       'Firms with female participation in ownership (% of firms)',
       'Firms formally registered when operations started (% of firms)',
       'Value lost due to electrical outages (% of sales for affected firms)',
       'Firms offering formal training (% of firms)',
       'Time spent dealing with the requirements of government regulations (% of senior management time)',
       'Cost to import, border compliance (US$)',
       'Cost to import, documentary compliance (US$)',
       'Time to import, border compliance (hours)',
       'Time to import, documentary compliance (hours)',
       'Time to resolve insolvency (years)',
       'Strength of legal rights index (0=weak to 12=strong)',
       'Time required to enforce a contract (days)',
       'Time required to register property (days)',
       'Procedures to register property (number)',
       'Cost of business start-up procedures, female (% of GNI per capita)',
       'Cost of business start-up procedures, male (% of GNI per capita)',
       'Cost of business start-up procedures (% of GNI per capita)',
       'Time required to start a business (days)',
       'Time required to start a business, female (days)',
       'Time required to start a business, male (days)',
       'Start-up procedures to register a business (number)',
       'Start-up procedures to register a business, female (number)',
       'Start-up procedures to register a business, male (number)',
       'Time to prepare and pay taxes (hours)',
       'Firms expected to give gifts in meetings with tax officials (% of firms)',
       'Labor tax and contributions (% of commercial profits)',
       'Average number of visits or required meetings with tax officials (for affected firms)',
       'Other taxes payable by businesses (% of commercial profits)',
       'Tax payments (number)', 'Profit tax (% of commercial profits)',
       'Total tax and contribution rate (% of profit)',
       'Time required to build a warehouse (days)',
       'Procedures to build a warehouse (number)',
       'Investment in energy with private participation (current US$)',
       'Investment in transport with private participation (current US$)',
       'Investment in water and sanitation with private participation (current US$)',
       'Burden of customs procedure, WEF (1=extremely inefficient to 7=extremely efficient)',
       'Lead time to export, median case (days)',
       'Lead time to import, median case (days)',
       'Logistics performance index: Efficiency of customs clearance process (1=low to 5=high)',
       'Logistics performance index: Quality of trade and transport-related infrastructure (1=low to 5=high)',
       'Logistics performance index: Ease of arranging competitively priced shipments (1=low to 5=high)',
       'Logistics performance index: Competence and quality of logistics services (1=low to 5=high)',
       'Logistics performance index: Overall (1=low to 5=high)',
       'Logistics performance index: Frequency with which shipments reach consignee within scheduled or expected time (1=low to 5=high)',
       'Logistics performance index: Ability to track and trace consignments (1=low to 5=high)',
       'International tourism, number of arrivals',
       'International tourism, number of departures',
       'International tourism, receipts (current US$)',
       'International tourism, receipts (% of total exports)',
       'International tourism, receipts for passenger transport items (current US$)',
       'International tourism, expenditures for passenger transport items (current US$)',
       'International tourism, receipts for travel items (current US$)',
       'International tourism, expenditures for travel items (current US$)',
       'International tourism, expenditures (current US$)',
       'International tourism, expenditures (% of total imports)',
       'Merchandise trade (% of GDP)', 'Import volume index (2000 = 100)',
       'Binding coverage, manufactured products (%)',
       'Bound rate, simple mean, manufactured products (%)',
       'Share of tariff lines with international peaks, manufactured products (%)',
       'Tariff rate, applied, simple mean, manufactured products (%)',
       'Tariff rate, most favored nation, simple mean, manufactured products (%)',
       'Share of tariff lines with specific rates, manufactured products (%)',
       'Tariff rate, applied, weighted mean, manufactured products (%)',
       'Tariff rate, most favored nation, weighted mean, manufactured products (%)',
       'Binding coverage, all products (%)',
       'Bound rate, simple mean, all products (%)',
       'Share of tariff lines with international peaks, all products (%)',
       'Tariff rate, applied, simple mean, all products (%)',
       'Tariff rate, most favored nation, simple mean, all products (%)',
       'Share of tariff lines with specific rates, all products (%)',
       'Tariff rate, applied, weighted mean, all products (%)',
       'Tariff rate, most favored nation, weighted mean, all products (%)',
       'Binding coverage, primary products (%)',
       'Bound rate, simple mean, primary products (%)',
       'Share of tariff lines with international peaks, primary products (%)',
       'Tariff rate, applied, simple mean, primary products (%)',
       'Tariff rate, most favored nation, simple mean, primary products (%)',
       'Share of tariff lines with specific rates, primary products (%)',
       'Tariff rate, applied, weighted mean, primary products (%)',
       'Tariff rate, most favored nation, weighted mean, primary products (%)',
       'Agricultural raw materials imports (% of merchandise imports)',
       'Food imports (% of merchandise imports)',
       'Fuel imports (% of merchandise imports)',
       'ICT goods imports (% total goods imports)',
       'Insurance and financial services (% of commercial service imports)',
       'Manufactures imports (% of merchandise imports)',
       'Ores and metals imports (% of merchandise imports)',
       'Merchandise imports from economies in the Arab World (% of total merchandise imports)',
       'Merchandise imports (current US$)',
       'Merchandise imports from high-income economies (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies outside region (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in East Asia & Pacific (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in Europe & Central Asia (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in Latin America & the Caribbean (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in Middle East & North Africa (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in South Asia (% of total merchandise imports)',
       'Merchandise imports from low- and middle-income economies in Sub-Saharan Africa (% of total merchandise imports)',
       'Merchandise imports by the reporting economy, residual (% of total merchandise imports)',
       'Merchandise imports by the reporting economy (current US$)',
       'Merchandise imports from low- and middle-income economies within region (% of total merchandise imports)',
       'Import value index (2000 = 100)',
       'Computer, communications and other services (% of commercial service imports)',
       'Commercial service imports (current US$)',
       'Transport services (% of commercial service imports)',
       'Travel services (% of commercial service imports)',
       'Net barter terms of trade index (2000 = 100)',
       'Export volume index (2000 = 100)',
       'Agricultural raw materials exports (% of merchandise exports)',
       'Food exports (% of merchandise exports)',
       'Fuel exports (% of merchandise exports)',
       'ICT goods exports (% of total goods exports)',
       'Insurance and financial services (% of commercial service exports)',
       'Manufactures exports (% of merchandise exports)',
       'Ores and metals exports (% of merchandise exports)',
       'Merchandise exports to economies in the Arab World (% of total merchandise exports)',
       'Merchandise exports (current US$)',
       'Merchandise exports to high-income economies (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies outside region (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in East Asia & Pacific (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in Europe & Central Asia (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in Latin America & the Caribbean (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in Middle East & North Africa (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in South Asia (% of total merchandise exports)',
       'Merchandise exports to low- and middle-income economies in Sub-Saharan Africa (% of total merchandise exports)',
       'Merchandise exports by the reporting economy, residual (% of total merchandise exports)',
       'Merchandise exports by the reporting economy (current US$)',
       'Merchandise exports to low- and middle-income economies within region (% of total merchandise exports)',
       'Export value index (2000 = 100)',
       'Computer, communications and other services (% of commercial service exports)',
       'Commercial service exports (current US$)',
       'High-technology exports (current US$)',
       'High-technology exports (% of manufactured exports)',
       'Transport services (% of commercial service exports)',
       'Travel services (% of commercial service exports)',
       'Cost to get electricity connection (% of income per capita)',
       'Procedures required to get electricity (number)',
       'Getting electricity (rank)',
       'Time required to deal with construction permits (days)'],
      dtype=object)

In [22]:
percentage=df_Private_Sector_1[df_Private_Sector_1['Indicator Name'].str.contains('%')]
percentage

,Year,Indicator Name,Value
1,2018,Trade in services (% of GDP),17.7402233050591
2,2017,Trade in services (% of GDP),15.8276702722749
3,2016,Trade in services (% of GDP),14.9720852732425
4,2015,Trade in services (% of GDP),14.7625942009062
5,2014,Trade in services (% of GDP),17.0767761634057
...,...,...,...
4176,1976,Travel services (% of commercial service exports),65.0485436893203
4177,2012,Cost to get electricity connection (% of incom...,878.5
4178,2011,Cost to get electricity connection (% of incom...,894.1
4179,2010,Cost to get electricity connection (% of incom...,1062.8
4180,2009,Cost to get electricity connection (% of incom...,1210.7

<h3>Own Account Workers</h3>

In [2]:
df_Own_Account=pd.read_csv("~/data_viz/Project_Employement/data/raw_data/Own-account workers/Own-account Workers.csv")
df_Own_Account.head()

               symbol                 date   value
0  tun.sl.emp.owac.zs  1991-06-15T00:00:00  22.807
1  tun.sl.emp.owac.zs  1992-06-15T00:00:00  22.601
2  tun.sl.emp.owac.zs  1993-06-15T00:00:00  21.954
3  tun.sl.emp.owac.zs  1994-06-15T00:00:00  21.109
4  tun.sl.emp.owac.zs  1995-06-15T00:00:00  26.212

In [3]:
def own_account_process(df):
    df=df.drop(columns="symbol")
    df['date']=pd.to_datetime(df['date'])
    df['date'] =df['date'].dt.strftime('%Y')
    return df

In [11]:
df_Own_Account_1=own_account_process(df_Own_Account)
df_Own_Account_1.to_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers.csv")

In [1]:
df_Own_Account_Male=pd.read_csv("~/data_viz/Project_Employement/data/raw_data/Own-account workers/Own-account Workers, Male.csv")
df_Own_Account_Male.head()

NameError: name 'pd' is not defined

In [12]:
df_Own_Account_Male_1=own_account_process(df_Own_Account_Male)
df_Own_Account_Male_1.to_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers, Male.csv")

In [13]:
df_Own_Account_Female=pd.read_csv("~/data_viz/Project_Employement/data/raw_data/Own-account workers/Own-account Workers, Female.csv")
df_Own_Account_Female.head()

                  symbol                 date  value
0  tun.sl.emp.owac.fe.zs  1991-06-15T00:00:00  5.734
1  tun.sl.emp.owac.fe.zs  1992-06-15T00:00:00  5.684
2  tun.sl.emp.owac.fe.zs  1993-06-15T00:00:00  5.582
3  tun.sl.emp.owac.fe.zs  1994-06-15T00:00:00  5.488
4  tun.sl.emp.owac.fe.zs  1995-06-15T00:00:00  6.029

In [14]:
df_Own_Account_Female_1=own_account_process(df_Own_Account_Female)
df_Own_Account_Female_1.to_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers, Female.csv")