In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
df_Own_Account_workers=pd.read_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers.csv",index_col=0)
df_Own_Account_workers.head()

   date   value
0  1991  22.807
1  1992  22.601
2  1993  21.954
3  1994  21.109
4  1995  26.212

In [ ]:
fig = go.Figure()
fig.add_trace(go.Scatter(x=df_Own_Account_workers['date'], y=df_Own_Account_workers["value"], name='Total',
                         line = dict(color='lightseagreen')))

fig.update_layout(title="Travailleurs indépendants entre 1991 et 2019",template="plotly_white",font=dict(
                 family=" Gravitas One, cursive",
                 size=13))
fig.show()

In [ ]:
df_Own_Account_Female=pd.read_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers, Female.csv",index_col=0)
df_Own_Account_Female.head()

In [ ]:
df_Own_Account_male=pd.read_csv("~/data_viz/Project_Employement/data/tidy_data/Own-account workers/Own-account Workers, Male.csv",index_col=0)
df_Own_Account_male.head()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(x=df_Own_Account_Female["date"],
                y=df_Own_Account_Female['value'],
                name='Femme',
                marker_color='tomato'
                ))
fig.add_trace(go.Bar(x=df_Own_Account_male["date"],
                y=df_Own_Account_male['value'],
                name='Homme',
                marker_color='royalblue'
                ))

fig.update_layout(
    title='Travailleurs indépendants des hommes Vs les femmes entre 1991 et 2019',template="plotly_white",font=dict(
                 family=" Gravitas One, cursive",
                 size=13))
fig.show()